@font-face{
    font-family: 'Noto Sans SC';
    font-display: swap;
    src: url('../font/Noto Sans SC/NotoSansSC-Regular.otf') format("truetype");
}
@font-face{
    font-family: 'JetBrains Mono';
    font-display: swap;
    src: url('../font/JetBrains Mono/static/JetBrainsMono-Regular.ttf') format("truetype");
}
body {
    font-family: 'Noto Sans SC', 'JetBrains Mono';
}